.place {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  list-style: none;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .place {
    gap: 0;
  }

}
