.profile__edit-button {
  margin: 0 0 9px 18px;
  width: 24px;
  height:24px;
  background-image: url("../../../images/penci-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(255, 255, 255, .0);
  border: 1px solid #FFF;
  align-self: flex-end;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
  transition: 0.5s;
}

@media screen and (max-width: 875px) {
  .profile__edit-button {
    margin-left: 10px;
  }
}

@media screen and (max-width: 575px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-bottom: 6px;
    justify-self: flex-start;
  }
}
